@import url('https://fonts.googleapis.com/css2?family=Fragment+Mono&display=swap');

html,
body {
  padding: 0;
  margin: 10px;
  color: #306AC0;
  font-family: 'Fragment Mono', monospace;
}

a {
  color: inherit;
  cursor: default;
}

* {
  box-sizing: border-box;
}

hr {
  height: 1px;
  background-image: linear-gradient(to right, rgb(48, 106, 192) 60%, rgba(255,255,255,0) 0%);
  background-position: bottom;
  background-size: 10px 1px;
  background-repeat: repeat-x;
  border: none;
}